@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

.switch_label {
    position: relative;
  }
  
  input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
  }
  .base {
    width: 56px;
    border-radius: 16px;
    height: 32px;
    background-color: #ddd;
  }
  